name: Test, build and publish

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test-frontend:
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    env:
      MONGODB_VERSION: 3.6.9
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14'
          cache: 'yarn'

      - run: yarn install --frozen-lockfile  --cache-folder .yarncache

      - run: yarn --cwd frontend run lint

      - run: yarn --cwd frontend run frontend-test
        env:
          CI: true

  test-backend:
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    env:
      MONGODB_VERSION: 4.4.6
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14'
          cache: 'yarn'

      - run: yarn install --frozen-lockfile  --cache-folder .yarncache

      - run: yarn --cwd backend run lint

      - run: yarn --cwd backend run backend-test
        env:
          CI: true



  setup-build-publish:
    needs: [ test-frontend, test-backend ]
    name: Setup, Build, Publish
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
#          token: ${{ secrets.REPO_PERSONAL_TOKEN }}
          fetch-depth: 0

      # Update Changelog
      - name: Update Changelog
        run: npm_config_yes=true npx auto-changelog

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${GITHUB_SHA}
#          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

